
<header></header><h1>Advertisers</h1>
<button class="btn btn-info">Create Advertiser</button>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Organisation URL</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Postcode</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr *ngFor="let advertiser of advertisers">
        <td>{{advertiser.name}}</td>
        <td>{{advertiser.orgurl}}</td>
        <td>{{advertiser.telephone}}</td>
        <td>{{advertiser.addressObj?.address}}</td>
        <td>{{advertiser.addressObj?.postcode}}</td>
    </tr>
    <tr *ngIf="!advertisers.length">
        <td colspan="5">No Advertisers Found</td>
    </tr>
    </tbody>
</table>

<app-create-advertiser-modal/>
